<ion-header>
    <ion-navbar>
       <ion-title>搜索</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-searchbar (ionFocus)="searchFocus()" (ionBlur)="searchBlur()" (ionInput)="getItems($event)" showCancelButton="true" cancelButtonText="X" >
        
    </ion-searchbar>
    <ion-list *ngIf="beShow" radio-group [(ngModel)]="selectedString">
        <ion-item *ngFor="let item of items">
            <ion-label>{{item}}</ion-label>
            <ion-radio value="{{item}}"></ion-radio>
        </ion-item>
    </ion-list>
</ion-content>